.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: auto;
    width: 80%;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 3%;
}

header nav{
    align-self: center;
    min-width: 350px;
}
header nav a{
    padding: 0% 2%;
    text-decoration: none;
}
header nav a:active{
    color: orange;
}