.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: auto;
    width: 80%;
}
header{
    display: flex;
    flex-wrap: nowrap;
}